* {
	margin: 0;
	padding : 0;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	min-height: 800px;
}

#body_mainpage{
	align-items: center;
	background-color: #3399FF;
	display: flex;
	font-family: "Raleway", sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

div.container{
	align-items: center;
	align-self: center;
	background: url('immagini/sfondomainpage.jpg') center center;
	border-radius: 10%;
	display: flex;
	flex-direction : column;
	min-height: 800px;
	justify-content : center;
	width: 100%;
	font-weight: bold;
}

a.button , input.submit-btn{
	background-color: #3399FF;
	border-radius: 5px;
	box-shadow: 0px 4px 4px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

a.button{
	padding: 16px 32px;
	margin-top: 30px;
}

input.submit-btn{
	width: 150px;
	font-size: 10px;
	padding: 10px 4px;
	font-weight: bolder;
}

h1{
	font-family: "Playfair Display", serif;
	font-size: 52px;
	font-weight: 900
	line-height : 46px;
	margin: 0 0 60px 0;
	text-align: center
	color: #6699FF;
}

.img-resposive{
	height: auto;
	max-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

.main_navbar, #navbarra{
	width: 100%;
	height: 10%;
	background-color: rgba(192, 192, 192, 0.8);
	background-attachment: scroll;
	position: fixed;
	top: 0px;
	z-index: 100;
}

#sfondoform{
	width: 100%;
	height: 90%;
	align-content: center;
	float: left;
	text-align: center;
	padding-top: 100px;
}

.sfondo{
	margin-top: 0px;
	background: url('immagini/mattoni.jpg') center center;
	min-height: 800px;
	background-attachment: fixed;
	opacity: 1;
	color: #FFF;
	width: 100%;
}

#footer{
	background-color: rgba(192, 192, 192, 1);
	padding: 10px 5px 10px 5px;
	bottom: 0px;
	height: 70px;
	width: 100%;
	align-content: center;
}
 
label{
	width: 150px;
	float: center;
	text-align: right;
}

input, textarea{
	border-radius: 4px;
	display: inline;
	width: 150px;
	float: center;
	color: black;
}

.navbar_opt{
	color: black;
	text-decoration: none;
	font-size: 20px;
	
}

iframe[seamless]{
	display: none;
	border: 0px;
}

a:hover{
	text-decoration: underline;
	color: darkblue;
}

#scritte{
	color: whitesmoke;
	font-family: 'Raleway';
	font-size: 40px;
	align-self: center;
	padding-left: 60px;
}

img.us{
	width: 300px;
	height: 400px;
	border: 5px groove lightblue;
}

.result{
	border: 5px groove lightblue;
	width: 80%;
	margin: 20px 10%;
}

td{
	border: 2px groove lightblue;
}
